#pauseButton
{
	height:35px;
	position:relative;
	top: 20px;
	width: 155px;"
}

#startSortButton
{
	height:35px;
	position:relative;
	top: 10px;
}

#algorithmDropDownMenu
{
	position:relative;
	top: 30px;
	width: 155px;"
}

#foreground
{
	text-align: center;
	margin: 0 auto;
	width:600px;
	height:450px;
	background-color: #FF90AD;
	border-radius: 25px;
	border: 3px solid white;"
}

#radioButtonDiv
{
	text-align: center;
	margin: 0 auto;
}

#canvasDiv
{
	position:relative;
	top: 10px;
	text-align: center;
	margin: 0 auto;
	width: 280px;
	height: 280px;
	background-color: white;
	border-radius: 25px;
	border: 3px solid white;"
}

#imageCanvas
{
	position:relative;
	top: 10px;"
}

body
{
	background-color:pink;
}

